@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .active-group-sidebar {
    @apply bg-blue-100 text-primary dark:bg-blue-900;
  }

  .searchWrapper {
    @apply border-stroke;
  }
}

.no-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: #636262;
  border-radius: 4px;
}

.multiSelectContainer .highlightOption {
  background: transparent;
  color: black;
}

.multiSelectContainer .option.selected {
  background: #b3b3b3;
  color: white;
}

.multiSelectContainer li:hover {
  background: #cccccc !important;
}

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: 'Lato';
}

.ck-content {
  font-family: 'Lato';
  line-height: 1.6;
  word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
  width: 100%;
}

.ck-editor__editable .ck-list-bogus-paragraph {
  display: inline-block !important;
}

.ck-content {
  h1 {
    @apply my-4 text-4xl font-bold;
  }

  h2 {
    @apply my-3 text-3xl font-semibold;
  }

  h3 {
    @apply my-3 text-2xl font-medium;
  }

  h4 {
    @apply my-2 text-xl font-medium;
  }

  h5 {
    @apply my-2 text-lg font-semibold;
  }

  h6 {
    @apply my-2 text-base font-semibold;
  }

  /* Paragraph */
  p {
    @apply my-2 text-base leading-relaxed;
  }

  /* Links */
  a {
    @apply text-blue-600 hover:underline;
  }

  /* Lists */
  ul {
    @apply my-2 list-inside list-disc pl-4;
  }

  ol {
    @apply my-2 list-inside list-decimal pl-4;
  }

  li {
    @apply my-1;
  }

  li > * {
    @apply my-0 inline-block;
  }

  /* Images */
  img {
    @apply h-auto max-w-full;
  }

  /* Blockquotes */
  blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-700;
  }

  /* Tables */
  table {
    @apply w-full table-auto border-collapse;
  }

  th,
  td {
    @apply border border-gray-200 px-4 py-2 text-left;
  }

  th {
    @apply bg-gray-100 font-semibold;
  }

  /* Horizontal Rules */
  hr {
    @apply my-4 border-t border-gray-200;
  }
}
